*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

:root{
    --preto: #000000;
    --branco: #FFFFFF;
    --rosa: #F2B6C6;
    --cinzaescuro:#F5F5F5;
}

body{
    background-color: white;
}

/* CABEÇALHO */

header{
    display: flex;
    align-items: center;
    background-color: var(--preto);
    padding: 15px;
    position:fixed;
    top: 0px;
    width: 100%;
   
}

#menu{
    position: absolute;
    left: 15px;
}

#menu > p{
    color:#f9c0d3 ;
    font-size: 25px;
}

#logo{
    margin: 0 auto;
}

#logo > a{
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color:#f9c0d3;
}

/*CONTEUDO*/

main{
   margin: 60px 0px;
}

/*PARTE DA IMAGEM*/

#imagem-produto{
    display: flex;
    width: 100%;
    height: 400px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

#imagem-produto::-webkit-scrollbar {
    display: none;
}

#imagem-produto img {
    width: 100%;
    height: 400px;
    margin: 0px 1px;
    flex-shrink: 0;
    background-color: rgba(187, 85, 187, 0.589);
}

/*PARTE DE BAIXO*/

#infor{
    padding: 20px;
    font-family: 'Roboto';
}

#nome-produto{
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 30px;
}

#preco-produto{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
}

/* PARTE TAMANHO*/

.medidas{
    display: flex;
    flex-direction: column;
}

.medidas span{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
}

.tamanho-grupo{
   display: flex;
   align-items: flex-start;
}

.tamanho-grupo input{
    display: none;
}

.medidas label{
    border: 1px solid #ccc;
    padding: 15px 20px;
    margin-right: 8px;
    border-radius: 45%;
    cursor: pointer;
}

/*class criada pelo javascript .ativo*/
.medidas label.ativo{
    border: 2px solid black;
}


/*PARTE BOTAO*/

#btn-produto{
    width: 100%;
}

.btn{
    border: none;
    width: 90%;
    padding: 20px 40px;
    border-radius: 10px;
    display: block;
    margin: 30px auto;
    background-color:black;
    font-size: 20px;
    font-weight: 300;
    color: var(--rosa);
}

hr{
    width: 90%;
    margin: 0px auto;
}

/*PARTE DA DESCRIÇÃO*/

#descricao-produto{
    font-family: 'Roboto';
    font-weight: 200;
}

#descricao-produto h2{
    font-size: 30px;
    margin: 20px 0px;
    text-transform: capitalize;
}

#descricao-produto p{
    font-weight: 400;
    font-size: 20px;
}