

@media (min-width: 500px){

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    width: 48%;
    height: 400px;
    margin: 5px auto;
    background-color:var(--preto);
    color: var(--branco);
    font-family: Arial, Helvetica, sans-serif;
}

}


@media (min-width: 600px){

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    width: 48%;
    height: 400px;
    margin: 5px auto;
    background-color:var(--preto);
    color: var(--branco);
    font-family: Arial, Helvetica, sans-serif;
   };

}


@media (min-width: 768px){

    .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    width: 32%;
    height: 400px;
    margin: 10px auto;
    background-color:var(--preto);
    color: var(--branco);
    font-family: Arial, Helvetica, sans-serif;
   };

}


@media (min-width: 1024px){

/* PAI DOS CARDS */
#produtos{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 30px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    width: 23%;
    height: 400px;
    margin: 10px auto;
    background-color:var(--preto);
    color: var(--branco);
    font-family: Arial, Helvetica, sans-serif;
}

/*PARTE DE BAIXO DO CARD*/
.formulario{
    padding: 10px;
   
}

}
